.grid-container {
  display: grid;
  padding-top: 5%;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-items: center;
}

.spinner {
  display: grid;
  margin: 50%;
}

.ant-spin-dot-item {
  background-color: #0b2b1f;
}

.ant-card-actions > li > span > .liked {
  color: red;
}

.ant-card-actions > li > span > .anticon:hover {
  color: red;
}
